@import "mixin";

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: capitalize;
    font-size: 2rem;
    text-align: center;
    color: #14213d;
    user-select: none;
}

body {
    height: 100vh;
    background-color: #ffffff;
    @include felxCenter;
    background: #fca311;
}

.main {
    background-color: #ffffff;
    height: 95vh;
    width: 97.5vw;
    border-radius: 30px;    
    @include felxCenter;

    h1 {
        font-size: 2rem;
        font-weight: 900;
    }

    h2 {
        margin: 20px auto;
        transition: color 200ms ease-in, transform 150ms ease-out;
    }    

    button {
        font-size: 1.5rem;
        background-color: transparent;
        padding: 0.2rem;
        border: #14213d 3px solid;
        border-radius: 10px;
        text-transform: uppercase;
        transition: background-color 200ms ease-out, color 150ms ease-out, transform 100ms ease-out;

        &:hover {
            background-color: #fca311;
            color: #ffffff;
            border-color: #fca311;
        }

        &:active {
            transform: scale(0.98);
        }
    }
}


